@model IEnumerable<Meal>
@{
    ViewData["Title"] = "List";
}
<div class="row">
    <div class="col-12">
        <h1>Geplande maaltijden</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        @foreach (var Meal in Model)
        {
            @Html.Partial("MealSummary", Meal)

        }
    </div>
</div>