@model IEnumerable<Meal>
@{
    ViewData["Title"] = "List of Meals";
}
<div class="row">
    <div class="col-12">
        <h1>Geplande maaltijden</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @foreach (var Meal in Model)
        {

            @Html.Partial("MealSummary", Meal)
            <hr />
        }
    </div>
</div>