@model IEnumerable<ApplicationUser>

<div class="row">
    <div class="col-12">
        <h1>Users</h1>
    </div>
</div>
<div class="row">

    @foreach (var User in Model)
    {
        <div class="col-6">
            @Html.Partial("UserSummary", User)
        </div>
    }
</div>