<h1>Studentmeals</h1>

<p>Hello there! We've always wondered what would be the best way to organise and manage meals in our cosy little house, but now that Maarten has come along we have found the perfect way to structure our way of managing who cooks what meall.</p>
<p>With your Student account you can login to the side to register yourself for a meal or submit a new meal you want to serve on a day. You can click on 'meals' to get a list of meals for the coming two weeks and you can click on 'users' to see a list of students that are currently registered.</p>
<p>Have fun!</p>