<h1>Studentenmaaltijden</h1>

<p>Welkom bij de studentenmaaltijdenapplicatie! Door naar <em>maaltijden</em> te navigeren kun je een lijst van de komende twintig maaltijden opvragen. In de sidebar vind je de maaltijd die gepland staat voor vandaag en daarboven kun je inloggen om je in te schrijven voor maaltijden.</p>
<p>Veel succes en smakelijk eten!</p>