@model SideBarViewModel

<div class="row">
    <div class="col-md-12">
        @if (Model.User != null)
        {

            <h2>Welcome back!</h2>
            <p>You are currently logged in as <b>@Model.User.Fullname()</b></p>
            <a asp-action="Logout" asp-controller="Account"><button class="btn btn-dark btn-block">Leave</button></a>
        }
        else
        {
            <h3>Time to eat!</h3>
            <p>It looks like you're not logged in currently, if you want to join a meal or add a new meal you have to login or register as a student.</p>
            <a asp-action="Login" asp-controller="Account"><button class="btn btn-dark btn-block">Login</button></a><br/>
            <a asp-action="Register" asp-controller="Account"><button class="btn btn-dark btn-block">Register</button></a>
        }
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h2>Vandaag:</h2>
        @if (Model?.Today == null)
        {

            <p>Geen maaltijd voor vandaag</p>
        }
        else
        {
            @Html.Partial("MealSummary", Model.Today)
        }
    </div>
</div>