@model SideBarViewModel

<div class="row">
    <div class="col-md-12">
        @if (Model.User != null)
        {

            <h2>Welkom terug!</h2>
            <p>Je bent momenteel ingelogd als <b>@Model.User.Fullname()</b></p>
            <a asp-action="Logout" asp-controller="Account"><button class="btn btn-dark btn-block">Uitloggen</button></a>
        }
        else
        {
            <h3>Welkom bij het StudentenHuis!</h3>
            <p>Het lijkt erop dat je helaas niet ingelogd bent op het moment, hierom kunnen we je helaas enkel maar een beperkt aantal data laten zien.</p>
            <a asp-action="Login" asp-controller="Account"><button class="btn btn-dark btn-block">Inloggen</button></a><br/>
            <a asp-action="Register" asp-controller="Account"><button class="btn btn-dark btn-block">Registreren</button></a>
        }
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h2>Vandaag:</h2>
        @if (Model?.Today == null)
        {

            <p>Geen maaltijd voor vandaag</p>
        }
        else
        {
            @Html.Partial("MealSummary", Model.Today)
        }
    </div>
</div>