@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Oops!</h1>
<h4 class="text-danger">It looks like something went wrong :(</h4>

<p>Please go back to the previous page and try again.</p>

