@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Oeps!</h1>
<h4 class="text-danger">Er lijkt iets mis te zijn gegaan bij je verzoek.</h4>

<p>Misschien zijn er serverproblemen of heb je iets verkeerd ingevoerd, gelieve naar de vorige pagina terug te gaan.</p>

